.Button{
    width: 12.76vw;
    height: 3.28vw;
    border-radius: 0.99vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat_Medium';
    font-size: 0.99vw;
    color: #7A7E86;
    background: white;
    transition: all 0.3s ease;
}
.active{
    background: #000CFF;
    color: white;
}
.Button img{
    width: 1.37vw;
    height: 1.37vw;
    margin-left: 1.04vw;
}
.Button p{
    margin-left: 1.11vw;
}