.One{
    display: block;
}
.OneHeadP{
    font-family: 'Montserrat_Bold';
    color: #2534B4;
}
.OneHeadP span{
    color: #000CFF;
}
.OneCenterP{
    font-family: 'Montserrat_Medium';
    color: #627A95;
}
.OneButton{
    background: #000CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-family: 'Montserrat_Bold';
    line-height: 120%;
}
.BlockDeveloper{
    background: #FFF;
    display: inline-flex;
    align-items: center;
    position: relative;
}
.BlcDev{
    border-radius: 50%;
    background: #FBD300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BlockDevP{
    color: #101566;
    font-family: 'Montserrat_Medium';
}
.BlockDevSpan{
    color: #627A95;
    line-height: 160%;
}
.BlcProject{
    background: #FBA000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BlockProjP{
    font-family: 'Montserrat_Medium';
    color: #627A95;
    line-height: 160%;
}
.BlockProjSpan{
    color: #101566;
}

@media (min-width: 769px){
    .One{
        width: 88.02vw;
        height: 31.25vw;
    }
    .OneButton{
        width: 8.72vw;
        border-radius: 0.56vw;
        font-size: 1.11vw;
        height: 3.853vw;
        margin-top: 2.498vw;
    }
    .OneHeadP{
        font-size: 4.27vw;
        margin-top: 2vw;
    }
    .OneCenterP{
        font-size: 1.25vw;
        margin-top: -3.825vw;
    }
    .ImgPerson{
        width: 31.25vw;
        margin-left: 54.95vw;
        height: 31.25vw;
        margin-top: -23.5vw;
    }
    .BlockDeveloper{
        width: 16.15vw;
        height: 5.001vw;
        box-shadow: 0 1.11vw 2.78vw 0 rgba(112, 144, 176, 0.20);
        margin-left: 46.67vw;
        border-radius: 2.78vw;
        top: -9.4vw;
    }
    .BlcDev{
        width: 3.89vw;
        height: 3.89vw;
        margin-left: 0.56vw;
        margin-right: 1.09vw;
    }
    .ImgBlockDev{
        width: 1.67vw;
        height: 1.67vw;
    }
    .BlockDevP{
        font-size: 1.39vw;
    }
    .BlockDevSpan{
        font-size: 1.11vw;
    }
    .BlockProject{
        width: 12.43vw;
        top: -30.83vw;
        margin-left: 75.26vw;
    }
    .BlcProject{
        width: 3.89vw;
        height: 3.89vw;
        border-radius: 50%;
        margin-left: 0.56vw;
        margin-right: 1.11vw;
    }
    .BlockProjP{
        font-size: 1.11vw;
    }
    .BlockProjSpan{
        font-size: 1.39vw;
    }
}
@media (min-width: 501px) and (max-width: 768px){
    .One{
        width: 89.84vw;
        height: 45.57vw;
    }
    .OneButton{
        width: 19.4vw;
        border-radius: 1.24vw;
        font-size: 2.47vw;
        height: 8.59vw;
        margin-top: 2.47vw;
    }
    .OneHeadP{
        font-size: 4.43vw;
        margin-top: -1vw;
    }
    .OneCenterP{
        width: 49.35vw;
        font-size: 2.21vw;
        margin-top: -3.125vw;
    }
    .ImgPerson{
        width: 45.57vw;
        margin-left: 44.27vw;
        height: 45.57vw;
        margin-top: -35.5vw;
    }
    .BlockDeveloper{
        width: 23.52vw;
        height: 7.29vw;
        box-shadow: 0 1.62vw 4.05vw 0 rgba(112, 144, 176, 0.20);
        margin-left: 32.05vw;
        border-radius: 4.05vw;
        top: -13.69vw;
    }
    .BlcDev{
        width: 5.67vw;
        height: 5.67vw;
        margin-left: 0.82vw;
        margin-right: 1.59vw;
    }
    .ImgBlockDev{
        width: 2.43vw;
        height: 2.43vw;
    }
    .BlockDevP{
        font-size: 2.02vw;
    }
    .BlockDevSpan{
        font-size: 1.62vw;
    }
    .BlockProject{
        width: 18.1vw;
        top: -44.9vw;
        margin-left: 71.74vw;
    }
    .BlcProject{
        width: 5.67vw;
        height: 5.67vw;
        border-radius: 50%;
        margin-left: 0.82vw;
        margin-right: 1.62vw;
    }
    .BlockProjP{
        font-size: 1.62vw;
    }
    .BlockProjSpan{
        font-size: 2.02vw;
    }
}